annotated-types
anyio
blinker
cbor2
certifi
click
colorama
dotenv
Flask
Flask-SQLAlchemy
greenlet
gunicorn
h11
httpcore
httpx
idna
itsdangerous
Jinja2
MarkupSafe
packaging
psycopg2
psycopg2-binary
pydantic
pydantic_core
python-dotenv
SQLAlchemy
typing-inspection
typing_extensions
vercel
vercel-workers
websockets
Werkzeug
